In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [2]:
os.getcwd()

'E:\\Rudhra\\Study for reputation\\Kaggle projects\\Titanic Machine Learning from Disaster'

In [3]:
os.chdir("E:\\Rudhra\\Study for reputation\\Kaggle projects\\Titanic Machine Learning from Disaster\\titanic")

In [4]:
os.listdir()

['gender_submission.csv',
 'Survival_Submission.csv',
 'Survival_Submission1.csv',
 'test.csv',
 'Titanic_test_Cleaned.csv',
 'Titanic_train_Cleaned.csv',
 'train.csv']

In [5]:
Train = pd.read_csv("Titanic_train_Cleaned.csv")

In [6]:
Test = pd.read_csv("Titanic_test_Cleaned.csv")

In [7]:
Train.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,...,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
0,1,0,3,22.0,1,0,21171,7.2500,0,1,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,38.0,1,0,17599,71.2833,1,0,...,0,1,0,0,0,0,0,1,0,0
2,3,1,3,26.0,0,0,3101282,7.9250,1,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,35.0,1,0,113803,53.1000,1,0,...,0,1,0,0,0,0,0,0,0,1
4,5,0,3,35.0,0,0,373450,8.0500,0,1,...,0,0,0,0,0,0,0,0,0,1

In [8]:
Train.shape

(887, 21)

In [9]:
Test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,330911,7.8292,0,1,0,0,0,0,0,0,0,0,1,0
1,893,3,47.0,1,0,363272,7.0000,1,0,0,0,0,0,0,0,0,0,0,1
2,894,2,62.0,0,0,240276,9.6875,0,1,0,0,0,0,0,0,0,0,1,0
3,895,3,27.0,0,0,315154,8.6625,0,1,0,0,0,0,0,0,0,0,0,1
4,896,3,22.0,1,1,3101298,12.2875,1,0,0,0,0,0,0,0,0,0,0,1

In [10]:
Test.shape

(418, 19)

In [11]:
X_train = Train.drop(["PassengerId","Survived", "Cabin_T"], axis =1)

In [12]:
y_train = Train["Survived"]

In [13]:
X_test = Test.drop("PassengerId", axis=1)

In [14]:
X_train.shape

(887, 18)

In [15]:
X_test.shape

(418, 18)

In [16]:
X_test.head()

,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,330911,7.8292,0,1,0,0,0,0,0,0,0,0,1,0
1,3,47.0,1,0,363272,7.0000,1,0,0,0,0,0,0,0,0,0,0,1
2,2,62.0,0,0,240276,9.6875,0,1,0,0,0,0,0,0,0,0,1,0
3,3,27.0,0,0,315154,8.6625,0,1,0,0,0,0,0,0,0,0,0,1
4,3,22.0,1,1,3101298,12.2875,1,0,0,0,0,0,0,0,0,0,0,1

In [17]:
X_train.head()

,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,21171,7.2500,0,1,0,0,0,0,0,0,0,0,0,1
1,1,38.0,1,0,17599,71.2833,1,0,0,0,1,0,0,0,0,1,0,0
2,3,26.0,0,0,3101282,7.9250,1,0,0,0,0,0,0,0,0,0,0,1
3,1,35.0,1,0,113803,53.1000,1,0,0,0,1,0,0,0,0,0,0,1
4,3,35.0,0,0,373450,8.0500,0,1,0,0,0,0,0,0,0,0,0,1

In [18]:
from sklearn.ensemble import GradientBoostingClassifier

In [19]:
clf = GradientBoostingClassifier(n_estimators=100, random_state=200)

In [20]:
clf.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=200, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [21]:
clf.score(X_train,y_train)

0.910935738444194

In [22]:
from sklearn.model_selection import GridSearchCV

In [23]:
mod=GridSearchCV(clf,param_grid={'n_estimators':[60,80,100,120,140,160,180,200]})
mod.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=GradientBoostingClassifier(criterion='friedman_mse',
                                                  init=None, learning_rate=0.1,
                                                  loss='deviance', max_depth=3,
                                                  max_features=None,
                                                  max_leaf_nodes=None,
                                                  min_impurity_decrease=0.0,
                                                  min_impurity_split=None,
                                                  min_samples_leaf=1,
                                                  min_samples_split=2,
                                                  min_weight_fraction_leaf=0.0,
                                                  n_estimators=100,
                                                  n_iter_no_change=None,
                                                  presort='auto',
                                                  random_state=200,
                                                  subsample=1.0, tol=0.0001,
                                                  validation_fraction=0.1,
                                                  verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'n_estimators': [60, 80, 100, 120, 140, 160, 180,
                                          200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [24]:
mod.best_estimator_

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=80,
                           n_iter_no_change=None, presort='auto',
                           random_state=200, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [25]:
clf = GradientBoostingClassifier(n_estimators=80, random_state=200)

In [26]:
clf.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=80,
                           n_iter_no_change=None, presort='auto',
                           random_state=200, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [27]:
clf.score(X_train, y_train)

0.9041713641488163

In [28]:
X_test.isnull().sum()

Pclass        0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          1
Sex_female    0
Sex_male      0
Cabin_A       0
Cabin_B       0
Cabin_C       0
Cabin_D       0
Cabin_E       0
Cabin_F       0
Cabin_G       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [29]:
X_test[X_test["Fare"].isnull()]

,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Embarked_C,Embarked_Q,Embarked_S
152,3,60.5,0,0,3701,NaN,0,1,0,0,0,0,0,0,0,0,0,1

In [30]:
X_train.query("Age>=60 & Pclass==3 & Sex_male==1 & Embarked_S==1")

,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Embarked_C,Embarked_Q,Embarked_S
323,3,61.0,0,0,345364,6.2375,0,1,0,0,0,0,0,0,0,0,0,1
847,3,74.0,0,0,347060,7.7750,0,1,0,0,0,0,0,0,0,0,0,1

In [31]:
(6.2375 + 7.7750)/2

7.00625

In [32]:
X_test["Fare"].fillna(7.00625, inplace = True)

In [33]:
X_test.isnull().sum()

Pclass        0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Sex_female    0
Sex_male      0
Cabin_A       0
Cabin_B       0
Cabin_C       0
Cabin_D       0
Cabin_E       0
Cabin_F       0
Cabin_G       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [34]:
Pred = clf.predict(X_test)

In [35]:
Submission = pd.DataFrame(Test["PassengerId"])

In [36]:
Submission.head()

   PassengerId
0          892
1          893
2          894
3          895
4          896

In [37]:
Submission["Survived"] = Pred

In [38]:
Submission.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [39]:
Submission.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [40]:
Submission.shape

(418, 2)

In [41]:
Submission.to_csv("Survival_Submission.csv", index = False)

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
clf1 = RandomForestClassifier(n_estimators=80, oob_score=True, n_jobs=-1, random_state=200)

In [44]:
clf1.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=80, n_jobs=-1,
                       oob_score=True, random_state=200, verbose=0,
                       warm_start=False)

In [45]:
clf1.oob_score_

0.8354002254791432

In [46]:
clf1.score(X_train,y_train)

0.9988726042841037

In [47]:
for w in range(10,600,20):
    clf1=RandomForestClassifier(n_estimators=w,oob_score=True,n_jobs=-1,random_state=200)
    clf1.fit(X_train,y_train)
    oob=clf1.oob_score_
    print('For n_estimators = '+str(w))
    print('OOB score is '+str(oob))
    print('************************')

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:460: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:465: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

For n_estimators = 10
OOB score is 0.8128523111612176
************************
For n_estimators = 30
OOB score is 0.8229988726042841
************************
For n_estimators = 50
OOB score is 0.8218714768883878
************************
For n_estimators = 70
OOB score is 0.8286358511837655
************************
For n_estimators = 90
OOB score is 0.8387824126268321
************************
For n_estimators = 110
OOB score is 0.8444193912063134
************************
For n_estimators = 130
OOB score is 0.8399098083427283
************************
For n_estimators = 150
OOB score is 0.8342728297632469
************************
For n_estimators = 170
OOB score is 0.8410372040586246
************************
For n_estimators = 190
OOB score is 0.8399098083427283
************************
For n_estimators = 210
OOB score is 0.8410372040586246
************************
For n_estimators = 230
OOB score is 0.8421645997745209
************************
For n_estimators = 250
OOB score is 0.8399098083427283
************************
For n_estimators = 270
OOB score is 0.8387824126268321
************************
For n_estimators = 290
OOB score is 0.8399098083427283
************************
For n_estimators = 310
OOB score is 0.8410372040586246
************************
For n_estimators = 330
OOB score is 0.8421645997745209
************************
For n_estimators = 350
OOB score is 0.8376550169109357
************************
For n_estimators = 370
OOB score is 0.8410372040586246
************************
For n_estimators = 390
OOB score is 0.8387824126268321
************************
For n_estimators = 410
OOB score is 0.8376550169109357
************************
For n_estimators = 430
OOB score is 0.8387824126268321
************************
For n_estimators = 450
OOB score is 0.8399098083427283
************************
For n_estimators = 470
OOB score is 0.8410372040586246
************************
For n_estimators = 490
OOB score is 0.8432919954904171
************************
For n_estimators = 510
OOB score is 0.8399098083427283
************************
For n_estimators = 530
OOB score is 0.8410372040586246
************************
For n_estimators = 550
OOB score is 0.8421645997745209
************************
For n_estimators = 570
OOB score is 0.8421645997745209
************************
For n_estimators = 590
OOB score is 0.8410372040586246
************************

In [48]:
clf1 = RandomForestClassifier(n_estimators=110, oob_score=True, n_jobs=-1, random_state=200)

In [49]:
clf1.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=110,
                       n_jobs=-1, oob_score=True, random_state=200, verbose=0,
                       warm_start=False)

In [50]:
clf1.oob_score_

0.8444193912063134

In [51]:
clf1.score(X_train,y_train)

0.9988726042841037

In [52]:
Pred1 = clf1.predict(X_test)
Submission1 = pd.DataFrame(Test["PassengerId"])
Submission1["Survived"] = Pred1
Submission1.to_csv("Survival_Submission1.csv", index = False)

In [53]:
pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/c9/73/884e2d50ba8fc95bcb92c47910a8fbb8c80627f53a76250080c780c91185/xgboost-1.0.1-py3-none-win_amd64.whl (24.6MB)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.2.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.16.4)
Installing collected packages: xgboost
Successfully installed xgboost-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [54]:
from xgboost import XGBClassifier

In [55]:
clf2 = XGBClassifier()

In [56]:
clf2.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [57]:
clf2.score(X_train, y_train)

0.9909808342728298

In [58]:
mod=GridSearchCV(clf2,param_grid={'n_estimators':[60,80,100,120,140,160,180,200]})
mod.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=XGBClassifier(base_score=0.5, booster=None,
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0, gpu_id=-1,
                                     importance_type='gain',
                                     interaction_constraints=None,
                                     learning_rate=0.300000012,
                                     max_delta_step=0, max_depth=6,
                                     min_child_weight=1, missing=nan,
                                     monotone_constraints=None,
                                     n_e...obs=0,
                                     num_parallel_tree=1,
                                     objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, subsample=1,
                                     tree_method=None,
                                     validate_parameters=False,
                                     verbosity=None),
             iid='warn', n_jobs=None,
             param_grid={'n_estimators': [60, 80, 100, 120, 140, 160, 180,
                                          200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [59]:
mod.best_estimator_

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=80, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [60]:
mod.best_score_

0.8286358511837655

In [61]:
clf2 = XGBClassifier(n_estimators = 80, random_state=200)

In [62]:
clf2.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster=None, colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints=None,
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints=None,
              n_estimators=80, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=200, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method=None,
              validate_parameters=False, verbosity=None)

In [63]:
clf2.score(X_train, y_train)

0.9853438556933484

In [64]:
Pred2 = clf2.predict(X_test)
Submission2 = pd.DataFrame(Test["PassengerId"])
Submission2["Survived"] = Pred2
Submission2.to_csv("Survival_Submission2.csv", index = False)